.main {
  margin-top: 5%;
  min-height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

a {
  color: #fff;
  &:hover {
    color: #888;
  }
}

.page-link {
  background-color: #444;
  &:hover {
    background-color: #313131;
  }
}

.page-item.disabled .page-link {
  background-color: #313131;
}
