<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container-fluid main">
      <div class="row">
        <div class="col-md-1 offset-md-2" role="navigation">
          <ul class="nav nav-tabs flex-md-column float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.words.last.url }}">words</a>
            </li>
            <li class="nav-item dropright">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">images</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/images/abstract">abstract</a>
                <a class="dropdown-item" href="/images/floral">floral</a>
                <a class="dropdown-item" href="/images/landscapes">landscapes</a>
                <a class="dropdown-item" href="/images/nature">nature</a>
                <a class="dropdown-item" href="/images/personal">personal</a>
                <a class="dropdown-item" href="/images/polaroids">polaroids</a>
                <a class="dropdown-item" href="/images/portraits">portraits</a>
                <a class="dropdown-item" href="/images/self">self</a>
                <a class="dropdown-item" href="/images/skyscapes">skyscapes</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">about</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          {{ content }}
        </div>
      </div>
    </div>
    <footer>
      <p class="text-center">&copy; {{ site.time | date: '%Y' }} Copyright: <a href="mayatideway.com">mayatideway.com</a></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
