<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  </head>
  <body>
    <div class="container-fluid main">
      <div class="row">
        <div class="col-md-3 align-self-center" role="navigation">
          <ul class="nav nav-tabs flex-column text-right">
            <li class="nav-item">
              <a class="nav-link" href="/">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/words">words</a>
            </li>
            <li class="nav-item dropright">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">images</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/images/nature">nature</a>
                <a class="dropdown-item" href="/images/portraits">portraits</a>
                <a class="dropdown-item" href="/images/self">self</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">about</a>
            </li>
          </ul>
        </div>
        <div class="col-md-7">
          {{ content }}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
